:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 1, 10, 19;
    --background-end-rgb: 1, 10, 19;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.teste {
  font-family: var(--font-spiegel);
  font-style: bold;
}

h1 {
  text-align: center;
  font-size: xx-large;
  padding-top: 30px;
  padding-bottom: 30px;
}

championNameTitle {
  text-align: center;
  font-size: large;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.background {
  background-color: rgb(1, 10, 19);
}

.caption {
  display: block;
}
